body 
{
    margin: 0%; 
    padding: 0%;  
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #9c8cb9;
}

header
{  
    padding: 1%;
    text-align: center; 
    background-color: #dcd7d4;
    border-bottom: 1px solid #9c8cb9;
}

nav ul 
{
    margin: 0%; 
    padding: 0%;
    overflow: hidden;
    background-color: #dcd7d4;
}

nav ul li 
{ 
    float: left;
    width: 20%;
    list-style: none; 
} 
nav ul li:hover {background-color: #9c8cb9;}

nav ul li a
{
    display: block; 
    padding: 7%;
    text-align: center;
    font-size: large;
    color: #4c406e;
} 

#buttonbox
{
    position: fixed;
    width: 6.5%;
    right: 0%;
    top: 30%;
    padding: 0.5%;  
    background-color: #dcd7d4;
}

#buttonbox button 
{
    display: block; 
    padding: 3%;  
    margin-bottom: 3%;
    text-align: left;
    border: 1px solid black;
}

.infobox
{
    width: 55%;
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;  
    border-radius: 2em;
    background-color: #dcd7d4;
}

.page-header {display: flex; justify-content: center;}

.pageheader-content 
{
    width: 50%; 
    padding-left: 1%; 
    padding-right: 1%;
}

/* riga viola in mezzo all'header in cima */
.page-header > div:nth-child(2) {border-left: 1px solid #9c8cb9;} 

/* bottoni */
#highlight-button {background-color: #dcd7d4;}
#highlight-title {background-color: #6cccb4;}
#highlight-persName {background-color: #fcbdd5;}
#highlight-places {background-color: #fbb384;}
#highlight-term {background-color: #c1ebac;}
#highlight-date {background-color: #fb9483;}
#highlight-orgName {background-color: #fbe1a6;}
#highlight-eventName{background-color: #86d3ac;}

/* le parole si evidenziano quando si clicca sui bottoni */
.title.color {background-color: #6cccb4;}
.persName.color {background-color: #fcbdd5;}
.placeName.color {background-color: #fbb384;}
.term.color {background-color: #c1ebac;}
.date.color {background-color: #fb9483;}
.orgName.color {background-color: #fbe1a6;}
.eventName.color {background-color: #86d3ac;}

/* le parole si evidenziano quando si passa su di esse con il cursore */
.title.passcolor {background-color: #6cccb4;}
.persName.passcolor {background-color: #fcbdd5;}
.placeName.passcolor {background-color: #fbb384;}
.term.passcolor {background-color: #c1ebac;}
.date.passcolor {background-color: #fb9483;}
.orgName.passcolor {background-color: #fbe1a6;}
.eventName.passcolor {background-color: #86d3ac;}

/* porzioni delle immagini */
rect {fill: transparent; pointer-events: visible;} 
.highlighted {fill: #001a8f4D; background-color: #001a8f4D;}

.article-header
{ 
    display: flex; 
    justify-content: center;
    width: 87%;
    margin-left: 5%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom: 1px solid #9c8cb9;
    background-color: #dcd7d4;
}
 
.articleheader-content 
{
    width: 35%; 
    padding-left: 1%; 
    padding-right: 1%;
}

/* riga viola in mezzo agli header dei testi */
.article-header > div:nth-child(2) {border-left: 1px solid #9c8cb9;} 

.flexcontainer
{
    display: flex; 
    justify-content: center;
    width: 87%;
    height: 790px;
    margin-left: 5%;
    margin-bottom: 3%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: #dcd7d4;
}

.column 
{
    width: 37%; 
    padding: 1%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* colonne con la barra per scrollare: */
/* entrambe le colonne di testo di #TEI-XVsec */
#TEI-XVsec > div:nth-child(2) > div:nth-child(2), #TEI-XVsec > div:nth-child(3) > div:nth-child(2), 
/* entrambe le colonne di testo di #TEI-RV */
#TEI-RT > div:nth-child(2) > div:nth-child(2), #TEI-RT > div:nth-child(3) > div:nth-child(2), 
/* la seconda colonna di testo di #TEI-AM */
#TEI-AM > div:nth-child(3) > div:nth-child(2), 
/* entrambe le colonne di testo di #TEI-FL */
#TEI-FL > div:nth-child(2) > div:nth-child(2), #TEI-FL > div:nth-child(3) > div:nth-child(2) 
{overflow-y: scroll; scrollbar-color: #bb96c1 #4c406e;}

/* seconde pagine di tutti gli articoli (bordi in alto stondati) */
#TEI-XVsec > div:nth-child(3), #TEI-RT > div:nth-child(3), #TEI-AM > div:nth-child(3), #TEI-FL > div:nth-child(3) 
{border-top-left-radius: 2em; border-top-right-radius: 2em;}

/* riga viola in mezzo alle due colonne dei testi (tra il testo e l'immagine) */
.flexcontainer > div:nth-child(1) {border-right: 1px solid #9c8cb9;} 

.pageheader 
{
    display: flex; 
    justify-content: space-between;
    padding: 1%;
    margin-bottom:1%;
}

/* le notizie appaiono in fondo alla colonna */
#TEI-N > div:nth-child(2) > div:nth-child(2) {align-self: end;} 

.align-center {text-align: center; font-weight: bolder;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.h3 {font-size: larger;}

a {text-decoration: none;}
.term a, .persName a, .bibl > .author a, .placeName a, #no-link {color: black}
:not(.highlight) > a {color: #4c406e;}

.sign {text-align: right;}

.small {font-size: smaller;}

.cit, .choice
{
    position: relative;
    display: inline; 
    margin: 0%; 
    padding: 0%;
}

.cit, .abbr {border-bottom: 1px dotted black;}

.choice .expan {visibility: hidden; position: absolute;}

.cit .bibl
{
    visibility: hidden;

    border: 1px solid black;
    font-size: smaller;
    text-align: center;
    background-color: #bb96c1;

    width: max-content;
    max-width: 90px;
    padding: 2px;
    top: 100%; /* l'espansione appare sotto il termine */
    position: absolute;
    z-index: 1; /* l'espansione appare sopra il testo dell'articolo, senza essere in trasparenza */
} 

.cit:hover .bibl {visibility: visible;} 

.choice .expan {visibility: hidden; position: absolute;}
.choice:hover .expan {visibility: visible; position: relative;}